/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    background-image:url('./assets/back.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    
}

.my-panel .mat-dialog-container {
    background-image:url('./assets/popup.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.75);
}
